@import "custom";
@import "spinners";

body {
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 100;
    font-style: normal;
    transition: all 0.3s ease;
}

body::-webkit-scrollbar {
    width: .8rem;
}

body::-webkit-scrollbar-track {
    background: $background-blue;
}

body::-webkit-scrollbar-thumb {
    background: $dark-blue;
    border-radius: 1rem;
    box-shadow: 1px 1px 5px rgba($dark-blue, 0.8);
}

a {
    color: inherit;
    text-decoration: inherit;
    background-color: inherit;
}

li,
svg {
    transition: all .2s ease;
}

button:focus {
    outline: none;
}

.hover-list li:hover {
    transform: scale(1.01);
    opacity: .85;
}

.hover-single:hover {
    transform: scale(1.01);
    opacity: .85;
}

a:hover {
    color: inherit;
    text-decoration: inherit;
    background-color: inherit;
}

.container>.row {
    margin: 25px -15px;
}

.heading {
    margin-bottom: 10px;
    padding-bottom: 15px;
    font-weight: 100;
}

.bold {
    font-weight: 400;
}

// .label {

//     // font-size: 1.5rem;
// }

.login-container {
    position: relative;
    top: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login {
    // position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border: 3px $dark-blue solid !important;
    border-radius: $border-radius-3;
    padding: 1.5rem;
    width: 420px;
    height: 50vh;
    // top: 5rem;
    min-height: 420px;
    margin-top: 10vh;
    // margin-left: auto;
    // margin-right: auto;
    transition: all .3s ease-in-out;
}

.login:hover {
    transform: scale(1.015);
}

.login form {
    width: 90%;
}

.login-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0rem;
}

.login input {
    background-color: $background-blue;
    border: 2px $dark-blue solid;
    border-radius: $border-radius-3;
    padding: 10px;

}

input:focus{
    outline: none;
}

span.login-item {
    // margin-top: 5rem;
    margin-bottom: 1rem;
}

span.login-item:hover a {
    border-bottom: 2px $dark-blue solid;
}

.login h1 {
    margin-bottom: 2rem;
    color: $dark-blue;
}


.login button {
    background-color: $dark-blue;
    color: $background-blue;
    padding: 1rem;
    border: none;
    border-radius: $border-radius-3;
    font-size: 1.3rem;
    transition: all .25s ease-in-out;
    margin-top: 4rem;
}

.login button:hover {
    transform: translateY(-5px);
}


.logout {
    display: inline-block;
    border: 3px $dark-blue solid;
    border-radius: 5px;
    padding: 5px 10px;
    transition: all .5s ease-in-out;
}

.logout {
    // transition: all .5s ease-in-out;
}

.logout:hover {
    transform: scale(1.2);
}

.navbar2 {
    position: fixed;
    top: 0;
    background-color: $dark-blue;
}

.navbar-nav2 {
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-item2 {
    height: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-bar {
    color: $background-blue;
    font-size: 2rem;
    // padding-top: 0.8rem;
}

.default-border {
    border-radius: $default-border-radius;
}

/* ===============METADATA START=============== */
.metadata {
    // border: 1px rgba($accent-light, 0.5) solid;
    border-radius: 10px;
    padding: 10px;
    // color: $blue;
    // background-color: white;
}

.metadata .amount {
    font-size: .8rem;
}

.metadata .amount-crypto {
    font-size: 1.5rem;
    font-weight: 400;
}

.metadata .amount-fiat {
    font-size: 1.5rem;
    font-weight: 400;
}

/* ===============METADATA END=============== */


/* ===============TABS CONTENT START=============== */
.tabs {
    padding: 10px;
    // border: 1px rgba($accent-light, 0.5) solid;
    border-radius: $default-border-radius;
}

.tabs .nav li {
    margin: 0px 5px;
}

.tabs .nav {
    margin-bottom: 10px;
}

// Switch tab buttons
.tabs a.nav-link {
    // color: $blue;
    border-radius: $default-border-radius;
}

.tabs a.nav-link:not(.active):hover {
    background-color: rgba($accent-light, 0.5);
    // animation: color-rotate 2s;
    // animation-iteration-count: infinite;
    // animation-direction: alternate;
}

.tabs a.nav-link.active {
    background-color: $accent-light;
    color: $dark-blue;
}

/* ===============TABS CONTENT END=============== */

/* ===============List items START=============== */
.list-items ul {
    list-style-type: none;
    padding-left: 0px;
    color: white;
    font-weight: 100;
}

.list-items li {
    margin: 15px 0px;
    padding: 10px;
    padding-left: 20px;
    /* border: 2px rgba(156, 201, 238, 0.5) solid; */
    border-radius: 2rem;
    background-color: $blue;
}

// .list-items li:hover {
//     // opacity: .85 ;
// }

/* ===============List items END=============== */

.addr-heading {
    border-radius: 3rem;
    padding: 10px;
}


/* Shadows */
.shadow-wide {
    box-shadow:
        0 2.8px 2.2px rgba($dark-blue, 0.034),
        0 6.7px 5.3px rgba($dark-blue, 0.048),
        0 12.5px 10px rgba($dark-blue, 0.06),
        0 22.3px 17.9px rgba($dark-blue, 0.072),
        0 41.8px 33.4px rgba($dark-blue, 0.086),
        0 100px 80px rgba($dark-blue, 0.12);
    border-top: 1px rgba($dark-blue, 0.3);
}

.shadow-low {
    -webkit-box-shadow: 1px 1px 5px rgba($dark-blue, 0.5);
    -moz-box-shadow: 1px 1px 5px rgba($dark-blue, 0.5);
    box-shadow: 1px 1px 5px rgba($dark-blue, 0.8);
    border-top: 1px rgba($dark-blue, 0.3);
}

.shadow-2 {
    box-shadow: 0 1px 1px rgba($dark-blue, 0.15),
        0 2px 2px rgba($dark-blue, 0.15),
        0 4px 4px rgba($dark-blue, 0.15),
        0 8px 8px rgba($dark-blue, 0.15);
    border-top: 1px rgba($dark-blue, 0.3) solid;
}

.shadow-3 {
    box-shadow: 0 1px 1px rgba($dark-blue, 0.11),
        0 2px 2px rgba($dark-blue, 0.11),
        0 4px 4px rgba($dark-blue, 0.11),
        0 8px 8px rgba($dark-blue, 0.11),
        0 16px 16px rgba($dark-blue, 0.11),
        0 32px 32px rgba($dark-blue, 0.11);
    border-top: 1px rgba($dark-blue, 0.3) solid;
}

/* Shadows END*/


// spinners 


