// Customize bootstrap default CSS

// $light-blue: #9ACAE4;
// $dark-blue: #011964;
// $blue: #1964AD;
// $background-blue: #C5ECF6;

$accent-light: rgb(138, 185, 216);
$dark-blue: #192033;
$blue: #2C5BFF;
$background-blue: #F0F2EE;
$accent-dark: #4E5A8D;
$default-border-radius: .6rem;
$border-radius-3: 10px 10px 0px 10px;

// Bootstrap override
$body-color: $dark-blue;
$body-bg: $background-blue;

// Load rest of bootstrap
@import "bootstrap/scss/bootstrap";