@import "custom";

body {
    font-family: catamaran, sans-serif;
    font-weight: 100;
    font-style: normal;
    transition: all 0.3s ease;
}

a {
    color: inherit;
    text-decoration: inherit;
    background-color: inherit;
}

li, svg {
    transition: all .2s ease;
}

.hover-list li:hover {
    transform: scale(1.01);
    opacity: .85;
}

.hover-single:hover {
    transform: scale(1.01);
    opacity: .85;
}

a:hover {
    color: inherit;
    text-decoration: inherit;
    background-color: inherit;
}

.container>.row {
    margin: 25px -15px;
}

.heading {
    margin-bottom: 10px;
}

.label {
    font-weight: 100;
    font-size: 1.5rem;
}

.default-border {
    border-radius: $default-border-radius;
}

/* ===============METADATA START=============== */
.metadata {
    // border: 1px rgba($light-blue, 0.5) solid;
    border-radius: 10px;
    padding: 10px;
    color: $blue;
    // background-color: white;
}

.metadata .amount {
    font-size: .8rem;
}

.metadata .amount-crypto {
    font-size: .8rem;
}

.metadata .amount-fiat {
    font-weight: 400;
}

/* ===============METADATA END=============== */


/* ===============TABS CONTENT START=============== */
.tabs {
    padding: 10px;
    // border: 1px rgba($light-blue, 0.5) solid;
    border-radius: $default-border-radius;
}

.tabs .nav li {
    margin: 0px 5px;
}

.tabs .nav {
    margin-bottom: 10px;
}

// Switch tab buttons
.tabs a.nav-link {
    // color: $blue;
    border-radius: $default-border-radius;
}

.tabs a.nav-link:not(.active):hover {
    background-color: $light-blue;
}

.tabs a.nav-link.active {
    background-color: $light-blue;
    color: $blue;
}

/* ===============TABS CONTENT END=============== */

/* ===============List items START=============== */
.list-items ul {
    list-style-type: none;
    padding-left: 0px;
    color: white;
    font-weight: 100;
}

.list-items li {
    margin: 15px 0px;
    padding: 10px;
    padding-left: 20px;
    /* border: 2px rgba(156, 201, 238, 0.5) solid; */
    border-radius: 2rem;
    background-color: $dark-blue;  
}

.list-items li:hover {
    // opacity: .85 ;
}

/* ===============List items END=============== */

.addr-heading {
    border-radius: 3rem;
    padding: 10px;
}


/* Shadows */
.shadow-wide{
    box-shadow:
        0 2.8px 2.2px rgba($dark-blue, 0.034),
        0 6.7px 5.3px rgba($dark-blue, 0.048),
        0 12.5px 10px rgba($dark-blue, 0.06),
        0 22.3px 17.9px rgba($dark-blue, 0.072),
        0 41.8px 33.4px rgba($dark-blue, 0.086),
        0 100px 80px rgba($dark-blue, 0.12);
    border-top: 1px rgba($light-blue, 0.5) solid;
}

.shadow-low {
    -webkit-box-shadow: 1px 1px 5px rgba($dark-blue, 0.5);
    -moz-box-shadow: 1px 1px 5px rgba($dark-blue, 0.5);
    box-shadow: 1px 1px 5px rgba($dark-blue, 0.8);
    border-top: 1px rgba($light-blue, 0.5) solid;
}

.shadow-2 {
    box-shadow: 0 1px 1px rgba($dark-blue,0.15), 
                0 2px 2px rgba($dark-blue,0.15), 
                0 4px 4px rgba($dark-blue,0.15), 
                0 8px 8px rgba($dark-blue,0.15);
    border-top: 1px rgba($light-blue, 0.5) solid;
}

.shadow-3 {
    box-shadow: 0 1px 1px rgba($dark-blue,0.11), 
              0 2px 2px rgba($dark-blue,0.11), 
              0 4px 4px rgba($dark-blue,0.11), 
              0 8px 8px rgba($dark-blue,0.11), 
              0 16px 16px rgba($dark-blue,0.11), 
              0 32px 32px rgba($dark-blue,0.11);
    border-top: 1px rgba($light-blue, 0.5) solid;
}

/* Shadows END*/